@import "scss/bootstrap";


$corporateBlue: #00A0AF;
$corporateDarkBlue: #021D49;

.intimeColor {
  color: $corporateDarkBlue;
}

.infoColor {
  color: $corporateBlue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.font-shadow {
  text-shadow: 2px 2px #bcdae1;
}

.section-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 35px;
  color: #484b59;
}

button, input, textarea, select {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border-color: inherit !important;
  }
}

.intimeInfo-header {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 999;
  border-radius: 0;
  border: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  nav{
  
    &>.container{
      background: #fff;
      border-radius: 10px;
    }
  }

  &.sticky {
    position: fixed;
    margin: 0 auto;
    border-radius: 10px;
    top: 0;
    left: 0;
    box-shadow: 0px 13px 35px -12px rgba(0, 0, 0, 0.15);
    animation: menu_sticky 0.7s ease-in-out;
    background: #fff;
  }
  .navbar { 
    padding: 0;

    &-brand {
      img {
        width: 200px;
      }
    }
    &-toggler {
      border: none;
      outline: none;
    }
  }

  .navbar-light {
    .navbar-toggler {
      border-color: #fff;
      outline: none;
    }
  }

  .navbar .navbar-nav .nav-item > .nav-link {
    color: #00A0AF;
    font-weight: 500;
    position: relative;
    padding: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0%;
      height: 3px;
      background-color: $corporateDarkBlue;
      transform: translateX(-50%);
      -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:hover:before, &.active:before {
      width: 100%;
    }
  }
}

@keyframes menu_sticky {
  0% {
    margin-top: -120px;
    opacity: 0;
  }

  50% {
    margin-top: -64px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.mainProduct {
  font-family: 'Montserrat', sans-serif !important;

  .container {

    .row {
      #particles-js {
        position: absolute;
        left: 0;
        max-width: 100%;
        height: 100%;
      }

      .product-title {
        h1 {
          font-size: 40px;

        }

        p {
          display: block;
          max-width: 750px;
          text-align: center;
          margin: auto;
          font-size: 16px;
          line-height: 1.8;
          font-weight: 400;
        }
      }


      /*

            &:hover .single-item .icon i{

              display: inline-block;
              animation: heartBeat;
              animation-duration: 2s;
              animation-timing-function: linear;
            }
            &:hover .single-item{
              display: inline-block;
              animation: bounce;
              animation-timing-function: linear;
              animation-duration: .7s;
              box-shadow: 10px 10px 12px 12px #EEEEEE ;

            }*/

    }
  }
  .product-box{
    margin-bottom: 200px;
    .card {
      border: 0;
      box-shadow: 10px 10px 12px 12px #EEEEEE;

      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;

        a {
          color: #fff;
          background-color: #2c2c2c;
          transition: 0.2s linear;

          &:hover {
            transform: scale(1.2);
          }
        }

        .intimeinfo {
          position: absolute;
          left: 50%;
          top: -10%;
          transform: translateX(-50%);
          background-color: #2c2c2c;
          padding: 20px;
          border-radius: 20px;

        }
      }

    }

    .card-flip {
      div {
        backface-visibility: hidden;
        transition: transform 300ms;
        transition-timing-function: linear;
        /*  width: 100%;
          height: 100%;*/
        margin: 0;
      }

      .card-front {
        color: #2c2c2c;
        // transform: rotateY(0deg);
        // display: grid;
        // align-content: center;
        cursor: pointer;
        background-color: #fff;
        opacity: 0.85;
      }


      // .card-back {
      //   color: #fff;
      //   background-color: #3738a0;
      //   transform: rotateY(180deg);
      //   position: absolute;
      //   top: 0;
      //   border: 1px solid #eeeeee;
      //   display: grid;
      //   align-content: center;
      // }

      // &:hover .card-front {
      //   transform: rotateY(-180deg);
      //   box-shadow: 10px 10px 12px 12px #EEEEEE ;
      // }

      // &:hover .card-back {
      //   transform: rotateY(0deg);
      //   box-shadow: 10px 10px 12px 12px #EEEEEE ;
      // }
    }

    .card {
      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 100px;
      }

      &:nth-child(3) {
        top: 100px;
      }

      &:nth-child(4) {
        top: 200px;
      }
    }
  }


  .btn-2 {
    background-color: $corporateDarkBlue;
    color: #FFF8FF;
    letter-spacing: 0;

    i {
      color: #fff8ff;

    }
  }


}

@keyframes sagok {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.mainSlider{
  background-image: url("../img/sliderBg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 80vh;

  h1 {
    font-weight: 800;
    font-size: 50px;
    color: #121C4D;
    margin: 0;
    padding: 0;
  }

  h2 {
    a {
      color: #00ADB5;
      font-weight: bold;
    }
  }

  img {
    position: relative;
    overflow: hidden;
  }

  #sagok{
    animation-name: sagok;
    animation-duration: 4s;
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}
.mainAbout {
  padding-bottom: 90px;
  padding-top: 50px;
  overflow: hidden;

  &-photo {
    img {
      transition: .5s all;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .count-box {
    display: flex;
    margin-right: 30px;
    color: #ff5d22;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 7px #edf1fe;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    padding: 20px;

  }
  .slider-thumb::before {
    position: absolute;
    content: "";
    left: 5%;
    top: 5%;
    width: 100%;
    height: 100%;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }

  @keyframes sliderShape {
    0%, 100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
      background: #ffc10761;
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
      background: #17a2b880;
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
      background: #007bff40;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
      background: #28a74540;
    }
  }
}


.mainServices {
  padding-top: 50px;
  padding-bottom: 90px;
  background: url("../img/domain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-attachment: fixed;
  z-index: -1;
  opacity: 1;


  overflow: hidden;

  &-box {
    box-shadow: 0 0 40px #0a0b0712;
    background-color: #fff;
    text-align: center;
    margin-bottom: 30px;
    transition: 0.6s;
    border: 1px solid #E6EDF6;
    padding: 35px 22px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    height: 475px;

    &:hover {

      h3,h4, a, p {
        color: white;
      }

      &::before {
        height: 100%;
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 0;
      background: linear-gradient(to right, $corporateDarkBlue 0%, $corporateBlue 100%);
      z-index: -1;
      transition: 0.6s;
      border-radius: 5px;
    }
  }
}


.mainCustomer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: $corporateBlue;
    // clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  }

  .customerBody {
    position: relative;
    display: flex;

    .customerTitle {
      letter-spacing: 1.5px;
      z-index: 1;
      font-size: 4em;
      font-weight: 900;
      margin-bottom: 50px;

      span {
        color: white;
      }
    }

    .customerName {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1.2px;
    }

    .customerExplanation {
      color: #fff;
      font-size: 20px;
    }

    .card {
      background: transparent;
      border: 0;
      color: white;

      p {
        font-size: 1.2em;
      }

      .double-quotes {
        font-weight: 700;
        transform: rotate(180deg);
      }

      img {
        width: 125px;
        height: 125px;
      }
    }

    /*    .owl-prev {
          position: absolute;
          top: 50%;
          left: -5%;
          font-size: 40px !important;
          color: #ccc !important;
        }
        .owl-next {
          position: absolute;
          top: 50%;
          right: -5%;
          font-size: 40px !important;
          color: #ccc !important;
        }*/
    #customer_carousel {
      top: 30%;
    }
  }
}

.mainBlog {

  .allArticles {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

  }

  .item {



    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // padding: 20px;
    box-shadow: -10px 10px #EEEEEE;
    transition: 0.3s linear;
    border: transparent;
    // border-radius: 20px;
    &:hover {
      // box-shadow: -10px 10px rgb(177, 175, 175);
      box-shadow: 10px 10px 12px 12px #EEEEEE;
      transform: scale(0.99);
    }

    // img {
    //   // padding: 20px;
    //   // border-radius: 10px;
    //   width: 100%;
    // }

    figure {
      position: relative;
      display: flex;
      flex-direction: column;

      &:hover {
        h5 {
          transition: 0.3s linear;
          color: $corporateBlue;
        }
      }
    }

    .card-header {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .card-body {

      padding: 20px;
    }
  }

  .blogTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    hr {
      content: "";
      width: 30%;
      border-style: solid;
      border-color: #2c2c2c;
      border-width: 1px;
    }
  }

  .owl-stage {
    padding: 10px;
    &-outer {
      height: 550px;
    }
  }

  /*  .owl-prev {
      position: absolute;
      top: 50%;
      left: -5%;
      font-size: 40px !important;
      color: #ccc !important;
    }
    .owl-next {
      position: absolute;
      top: 50%;
      right: -5%;
      font-size: 40px !important;
      color: #ccc !important;
    }*/
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card-title {
    font-size: 25px !important;
  }


  .next-btn {
    padding: 10px 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      height: 2px;
      bottom: 5px;
      left: 0;
      width: 0;
      background-color: #021423;
      transition: width .5s ease-in-out;
    }

    &:hover {
      &:before {
        width: 100%;
      }

      /* &:before {
         width: 0;
         visibility: visible;
         transform: scaleX(0);
       }*/
    }

    /* &:before {
       content: "";
       position: absolute;
       width: 100%;
       height: 2px;
       bottom: 5px;
       left: 0;
       background-color: black;
       visibility: hidden;
       transform: scaleX(1);
       transition: all 0.5s ease-in-out;
     }*/
  }
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3 {
  width: 35px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 35px;
  background: #00A0AF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



.mainPartner {
  #partners_carousel {
    .item {
      figure {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        padding: 50px 20px;
      }
    }
  }
}

.mainInformed {
  &-form {
    border: 1px solid #eef2fb;
    background-color: #eef2fb;
    .contact-form {
      background: #fff;
      height: 100%;
      margin: 20px 0;
      border-radius: 5rem;
      .wrapper{
        width: 100%;
        background: #fff;
        padding: 30px;
        background: transparent;
      }
      .wrapper .input-data{
        height: 20px;
        width: 100%;
        position: relative;
      }
      .wrapper .input-data input{
        background: transparent;
        height: 100%;
        width: 100%;
        border: none;
        font-size: 17px;
        border-bottom: 2px solid silver;
        color: #000;
      }
      .input-data input:focus ~ label,
      .input-data input:valid ~ label{
        transform: translateY(-5px);
        font-size: 15px;
        color: #000;
      }
      .wrapper .input-data label{
        font-weight: 600;
        position: absolute;
        bottom: 5px;
        left: 0;
        color: #000;
        pointer-events: none;
        transition: all 0.3s ease;
      }
      .input-data .underline{
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
      }

      .register {
        padding: 10px 20px;
        border-radius: 5rem;
        background-color: $corporateDarkBlue;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1.5px;
        transition: 0.3s linear;
        &:hover {
          background: red;
          color: #ffff;
        }
      }
    }
  }
}


.mainPartner{
  .owl-carousel{
    .item{
      .vertical-logo{
        height: 100px;
        width: auto;
      }
    }
  }
}

footer {
  a{
    color: white;
  }
  p {
    margin-bottom: 0 !important;
  }

  background: #00ADB5;

  .socialiconfooter {
    width: 50px;
    height: 50px;
    border-radius: 50%;

  }

  .dlexcenterline {

    justify-content: center;
    line-height: 35px;
  }

  .linklerfooter{
    ul{
      li{
        a:hover{
          transform: scaleX(1.5) !important;
          transition-duration: 2s;
        }
      }
    }
  }

  .iletisimbilgileri {
    p {
      margin-top: 30px;
    }

    a:hover {
      p{
        color: black !important;
        transition-duration: 2.5s ;
      }
      span {
        color: #121C4D !important;
        transition-duration: 2s;
      }
    }
  }
  .socialiconlardivi{
    margin-top: 30px;

.sosyalicon{

  font-size: 24px !important;
  margin:10px 20px;
}
  }
  h3 {
    color: #121C4D;

    span {
      color: #00ADB5;
    }
  }

  .backgrblue {
    background: #00ADB5;
  }

  #instagramicerik1 {
    .gonderiler:hover{
      opacity: 0.7 !important;
    }
  }

  .gonderiler {
    width: 120px;
    height: 120px;
    display: flex;

  }
  .followbutton:hover{
    background:#121C4D !important;
    border: 1px solid black;
    transition-duration: 1.5s;
    color: white;
  }
  .sosyaliconlar{

    .sosyalicon{
      color: #121C4D ;
    }
  }

}

.copyright {
  background-color: #00ADB5;
  padding: 4px;
  color: white;
  border-top: 0.5px solid;
}

