@font-face {
  font-family: 'intimeinfo';
  src:  url('../fonts/intimeinfo.eot?4u2g82');
  src:  url('../fonts/intimeinfo.eot?4u2g82#iefix') format('embedded-opentype'),
    url('../fonts/intimeinfo.ttf?4u2g82') format('truetype'),
    url('../fonts/intimeinfo.woff?4u2g82') format('woff'),
    url('../fonts/intimeinfo.svg?4u2g82#intimeinfo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.intimeinfo {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'intimeinfo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intimeinfo-linkedin:before {
  content: "\e900";
}
.intimeinfo-instagram:before {
  content: "\e901";
}
.intimeinfo-kariyernet .path1:before {
  content: "\e902";
  color: rgb(113, 30, 140);
}
.intimeinfo-kariyernet .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(245, 129, 19);
}
.intimeinfo-kariyernet .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(113, 30, 140);
}
.intimeinfo-kariyernet .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(113, 30, 140);
}
.intimeinfo-kariyernet .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(113, 30, 140);
}
.intimeinfo-lightbulb-line:before {
  content: "\e907";

}
.intimeinfo-pie-chart-line:before {
  content: "\e908";

}
.intimeinfo-quill-pen-line:before {
  content: "\e909";

}
.intimeinfo-feedback:before {
  content: "\e90a";
}
.intimeinfo-target:before {
  content: "\e90b";
}
.intimeinfo-right-arrow:before {
  content: "\e90c";
}
.intimeinfo-down-angle:before {
  content: "\e90d";
}
.intimeinfo-workers:before {
  content: "\e90e";
}
.intimeinfo-user:before {
  content: "\e90f";
}
.intimeinfo-right-angle:before {
  content: "\e910";
}
.intimeinfo-email:before {
  content: "\e911";
}
.intimeinfo-headphones:before {
  content: "\e912";
}
.intimeinfo-pin:before {
  content: "\e913";
}
.intimeinfo-search:before {
  content: "\e914";
}
.intimeinfo-minus:before {
  content: "\e915";
}
